{% extends 'base.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script type = "text/javascript">
function onConnectionLost(){
    document.getElementById("messages").innerHTML = "Your Connection Lost";
    connected_flag=0;
    }
function onMessageArrived(r_message){
    out_msg=r_message.payloadString;
    document.getElementById("messages").innerHTML=out_msg;
    }
function onConnect() {
    //document.getElementById("messages").innerHTML ="Connected to "+host +"on port "+port;
    connected_flag=1
    sub_topics()
    }
function onFailure(message) {
    document.getElementById("messages").innerHTML = "Connection Failed-Retrying";
    setTimeout(MQTTconnect, reconnectTimeout);
    }
function MQTTconnect() {
    var s = 'broker.hivemq.com';
    var p = 8000;
    port=parseInt(p);
    host=s;
    var x=Math.floor(Math.random() * 10000); 
    var cname="orderform-"+x;
    mqtt = new Paho.MQTT.Client(host,port,cname);
    mqtt.onConnectionLost = onConnectionLost;
    mqtt.onMessageArrived = onMessageArrived;
    var options = {
        timeout: 3,
        onSuccess: onConnect,
        onFailure: onFailure,};
    mqtt.connect(options);
    return false; 
    }
function sub_topics(){
    if (connected_flag==0){
        out_msg="<b>Not Connected so can't subscribe</b>"
        document.getElementById("messages").innerHTML = out_msg;
        return false;
        }
    var stopic='SGLCERIC/connection/{{room_data['_id']}}';
    mqtt.subscribe(stopic);
    document.getElementById("messages").innerHTML = 'Connecting to Sensor...';
    return false;
    }
</script>
<script>
	var connected_flag=0	
	var mqtt;
    var reconnectTimeout = 2000;
    MQTTconnect()
</script>

{% set counter = {
    'counter_tobeadded': 0,
    'counter_all': 0,} %}

{% macro increment(dct, key)%}
    {% if dct.update({key: dct[key] + 1}) %} {% endif %}
{% endmacro %}

<div class="container">
<div class="row">
    <div class="col" style="margin-bottom: 10px;">
        <div class="card text-white bg-dark mb-3" style="width: 100%;">
            <div class="card-body">
                {% if message%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endif %}
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-fill bd-highlight">
                        <h5 class="card-title">Room {{room_data['name']}} </h5>
                        <h5 class="card-title">User allowed to enter</h5>
                        <ul>
                            {%for user in room_data['user_list']%}
                                {% if user%}
                                {{ increment(counter, 'counter_all') }}
                                    {% if user in room_data['user_list_ack']%}
                                        {% if loop.index in room_data['user_list_todel']%}
                                            <li class="nav-item">{{user}} - Saved in the sensor, To be deleted</li>
                                        {%else%}
                                            <li class="nav-item">{{user}} - Saved in the sensor</li>
                                        {% endif %}
                                    {%else%}
                                        {{ increment(counter, 'counter_tobeadded') }}
                                        <li class="nav-item">{{user}} - Not in the sensor, To be added</li>
                                    {% endif %}
                                {% endif %}
                            {%endfor%}
                        </ul>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <h5 class="card-title" id="messages">Connecting to Sensor</h5>
                        <p class="card-title">
                            Restricted Room </br>
                            Approimately {{counter['counter_tobeadded']}}seconds to sync.</br>
                            Approimately {{counter['counter_all']}}seconds to reset and sync.</br>

                        </p>
                        <form class="" action="/user/sync" method="POST">
                            <input type=int class="d-none" value={{room_data['_id']}} name="room_id">
                            <button type="submit" class="m-3 btn btn-primary" name="button" value="sync_command">Sync</button>
                            <button type="submit" class="m-3 btn btn-primary" name="button" value="resync_command">Reset&Sync</button>
                        </form>
                        <h5 class="card-title">Edit List</h5>
                        <form class="" action="/user/sync" method="POST">
                            <input type="number" class="d-none" value="{{room_data['_id']}}" name="room_id">
                            <input type="text" class="text-white bg-dark m-3 form-control" placeholder="Id List" name="user_list" aria-describedby="addon-wrapping">
                            <button type="submit" class="m-3 btn btn-primary" name="button" value="add">Add</button>
                            <button type="submit" class="m-3 btn btn-primary" name="button" value="del">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
   
{% endblock %}