{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col" style="margin-bottom: 10px;">
        <div class="card text-white bg-dark mb-3" style="width: 100%;">
            <div class="card-body">
                {% if message%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endif %}
                <h5 class="card-title">User {{user_data['name']}} </h5>
                <h5 class="card-title">ID {{user_data['_id']}} </h5>
                {% if not user_data['FP']%}
                <a href="{{ url_for('add_enroll_data', the_type='fingerprint', user_id=user_data['_id'])}}">Add Fingerprint</a>
                {% endif %}
                {% if not user_data['RFID']%}
                <a href="{{ url_for('add_enroll_data', the_type='rfid', user_id=user_data['_id'])}}">Add RFID</a>
                {% endif %}
                {% if user_data['RFID']%}
                {{user_data['RFID']}}
                {% endif %}
                {% if room_list%}
                <h5 class="card-title">Allowed</h5>
                <ul>
                    {%for room in room_list%}
                    <li class="nav-item">{{room['name']}} <a href="{{ url_for('editlist', mode='remove', user_id=user_data['_id'], room_id=room['_id']) }}">Delete</a></li>
                    {%endfor%}
                </ul>
                {% endif %}
                {% if room_list_nin%}
                <h5 class="card-title">Not Allowed</h5>
                <ul>
                    {%for room in room_list_nin%}
                    <li class="nav-item">{{room['name']}} <a href="{{ url_for('editlist', mode='add', user_id=user_data['_id'], room_id=room['_id']) }}">Add</a></li>
                    {%endfor%}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
   
{% endblock %}